* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    font-size: 62.5%;
    --default-border: 0.1rem solid rgba(0, 0, 0, 0.15);
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
}

.content{
    display: grid;
    grid-template-areas: 
    ". . . . ."
    ". hero . form ."
    ". hero . form ."
    ". . . . ."
     
    ;
    gap: 8.5rem;
}


main{
    grid-area: form;
}

aside{
    grid-area: hero;
}

aside h1 {

    font-size: 64px;
    font-weight: 500;
    line-height: 70px;
}

aside h1 span,
main h2 span {
    color: #ff5678;
}

main {
    width: 60rem;
    height: 50rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.15);
    padding: 4.4rem 5.6rem;
    border-radius: 12%;
    position: relative;
}

main h2 {
    max-width: 43rem;
    font-size: 3.6rem;
}

main .actions {
    display: flex;
    flex-flow: column wrap;

}


main .actions a {
    border-radius: 1.2rem;
    text-decoration: none;
    color: #fff;
    height: 5.5rem;
    font-size: 2.4rem;
    background-color: #35e6e9;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5.4rem;
}

main .actions a+a {
    background-color: #ff5678;
    margin-top: 4.8rem;
}

main header{
    display: flex;
    align-items: center;
    gap: 0 1.8rem;
}

main header i {
    color: #ff5678;
    font-size: 2.5;
}

main footer p{
    font-size: 1.6rem;
    margin-top: 8rem;
}

main footer a{
    margin-top: 1rem;
    font-size: 1.6rem;
    display: block;
    text-align: center;
    color: #000;
}

main form {
    margin-top: 1.6rem;
}

main form label{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: lowercase;
    margin-bottom: 0.1rem;
    display: block;
}

main form input{
    width: 489px;
    height: 5.5rem;
    border-color: #000;
    background: #fff;
    border: var(--default-border);
    border-radius: 1.2rem;
}

main form .points{
position: relative;
}
main form input + button{
    position: absolute;
    right: 0;
    right: -3.8rem;
    top: calc(2.7rem + 2.5rem);
    background-color: transparent;
    border: none;
    color: #35e6e9;
    font-size: 2.4rem;
}
.btn{
    top: 0;
    font-size: 1.4rem;
}
main form table {
    border-collapse: collapse;
  }
  
  main form td {
    border-top: 1px solid black;
    padding: 10px;
  }
  
  main form tr:first-child td {
    border-top: none;
  }
  
  
  
  
  